<div class="jumbotron ">
  <div class="row">
    <div class="col-md-7">
      <div class="col-md-12">
        <div> STUDENT CLASSROOM </div>
        <classvid ng-controller="VideoController"></classvid>
        <div class="panel-footer">
          <form name="ask-question" ng-submit="askQuestion()">
            <legend>Ask Question</legend>
            <div class="input-group">
              <input type="text" ng-model="question" class="form-control" ng-change='pause()' placeholder="Ask a question...">
              <span class="input-group-btn">
                <button type="button" class="btn btn-info">Submit Question</button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-12">
          <queue questions="data.questionQueue"></queue>
        </div>
        <div class="col-md-12">
          <qanda questions="data.answeredQuestions" askQuestion="askQuestion()"></qanda>
        </div>
      </div>
    </div>
  </div>
</div>
