<div class="jumbotron ">

  <p>{{tagline}}</p>

  <queue questions="data.questionQueue"></queue>
  
  <div class="row">
      <div class="col-md-9">
        <div class = "col-md-12">
    <video width="600" controls>
        <source src="mov_bbb.mp4" type="video/mp4">
        <source src="mov_bbb.ogg" type="video/ogg">
       
      </video>
     </div>
   </div>
    </div>
   
  <div class
   <div class="col-sm-4 chat-border">
  <qanda questions="data.answeredQuestions"></qanda>
  </div>
  </div>
</div>



<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12"></div>
            <div class="col-md-12"></div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="col-md-12"></div>
    </div>
</div>
