<div class="jumbotron ">
<div class="row">
  <div class="col-md-7">
    <div class="col-md-12">
      <div> TEACHER CLASSROOM </div>  
  <classvid ng-controller="VideoController"></classvid>
  <teacheranswer ng-controller="TeacherAnswerController"></teacheranswer>
</div>
</div>
<div class="col-md-5">
  <div class="row">
    <div class="col-md-12">
    <teachqueue questions="data.questionQueue"></teachqueue>
    </div>
   <div class="col-md-12">
  <qanda questions="data.answeredQuestions"></qanda>
</div>
</div>
</div>

