<div id="timeline">
  <style type="text/css">
    .axis path,
    .axis line {
      fill: none;
      stroke: black;
      shape-rendering: crispEdges;
    }

    .axis text {
      font-family: sans-serif;
      font-size: 10px;
    }

    .timeline-label {
      font-family: sans-serif;
      font-size: 12px;
    }

    #timeline2 .axis {
      transform: translate(0px,40px);
      -ms-transform: translate(0px,40px); /* IE 9 */
      -webkit-transform: translate(0px,40px); /* Safari and Chrome */
      -o-transform: translate(0px,40px); /* Opera */
      -moz-transform: translate(0px,40px); /* Firefox */
    }
    
    .coloredDiv {
      height:20px; width:20px; float:left;
    }
  </style>
  <script type="text/javascript">
    window.onload = function() {

       var iconTestData = [
        {class:"jackie", icon: "jackie.png", times: [
          {"starting_time": 0, "ending_time": 130000}, 
          {"starting_time": 132000, "ending_time": 154000}]},
        {class:"troll", icon: "troll.png", times: [
          {"starting_time": 0, "ending_time": 154000,
          "display":"circle"}, ]},
        {class:"wat", icon: "wat.png", times: [
          {"starting_time": 0, "ending_time": 154000}]},
      ];

        function timelineStackedIcons() {
        var chart = d3.timeline()
          .beginning(0) // we can optionally add beginning and ending times to speed up rendering a little
          .ending(154000)
          .showTimeAxisTick() // toggles tick marks
          .stack() // toggles graph stacking
          .margin({left:70, right:30, top:0, bottom:0})
          ;
        var svg = d3.select("#timeline5").append("svg").attr("width", '680')
          .datum(iconTestData).call(chart);
      }  
      // var rectAndCircleTestData = [
      //   {class: "pA", label: "person a", times: [
      //       {"starting_time": 0, "ending_time": 154000}
      //      ]},
      //     {class: "pB", label: "person b", times: [
      //       {"starting_time": 0, "ending_time": 154000}]},
      //     {class: "pC", label: "person c", times: [
      //       {"starting_time": 0, "ending_time": 1355763910000}]},
      // ];
      

      // function timelineRectAndCircle() {
      //   var chart = d3.timeline()
      //   .tickFormat( //
      //       {format: d3.time.format("%M:%S"),
      //       tickTime: d3.time.seconds,
      //       tickInterval: 30,
      //       tickSize: 10})

      //   var svg = d3.select("#timeline2_combine").append("svg").attr("width", '680')
      //     .datum(rectAndCircleTestData).call(chart);
      // }

      

       timelineStackedIcons();
      // timelineRectAndCircle();
   
    }
  </script>

    <!-- <div id="timeline2_combine"></div>
 -->
   <div>
    <h3>We can also use icons</h3>
    <div id="timeline5"></div>
  </div>
</div>  

    