body { 

}

.media {margin-top: 0px}

.jumbotron {
  padding-top: 10px;
  padding-bottom: 5px;

}

.container .jumbotron {
  padding-right: 5px;
  padding-left: 10px;
}

.pause{
      margin: auto auto;
      font-size:20px;
      text-align: center;
      background-color:black;
      color:white;
      position: absolute;
      top: 160px;
      padding-top: 20px;
      left: 180px;
      height: 40px;
      width: 120px;
    }

#video{
  width:640px;
  height:360px;
}

.teacher-answer{
  margin:4px;
}


.teacher-answer legend {
  padding:4px;
}
/*Timeline css*/

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 10px;
}

.timeline-label {
  font-family: sans-serif;
  font-size: 12px;
}

#timeline2 .axis {
  transform: translate(0px,40px);
  -ms-transform: translate(0px,40px); /* IE 9 */
  -webkit-transform: translate(0px,40px); /* Safari and Chrome */
  -o-transform: translate(0px,40px); /* Opera */
  -moz-transform: translate(0px,40px); /* Firefox */
}

.coloredDiv {
  height:20px; width:20px; float:left;
}

/* progress bar */

#play-svg {
  background-color: #d9edf7;
}